body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1{
    font-size: 3.5rem;
    color: #ff96c5;
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(122, 39%, 49%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(122, 39%, 59%);
}

#replayButton {
    background-color: hsl(122, 39%, 39%); /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Top and bottom padding of 10px, left and right padding of 20px */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    outline: none; /* Removes the outline */
}

#replayButton:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    transform: scale(1.05); /* Scales the button up slightly */
}

#replayButton:active {
    transform: scale(0.95); /* Scales down when clicked */
}

#playerDisplay, #computerDisplay, #gameOverDisplay{
    font-size: 2.5rem;
    color: #00a5e3;
}

#resultDisplay{
    font-size: 5rem;
    margin: 20px 0;
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScoreDisplay{
    color: green;
}

.redText, #computerScoreDisplay{
    color: red;
}

.tieText {
    color: darkgray;
}

#gameOverDisplay {
    color: #ff96c5;
    margin: 20px 0;
}